<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="https://docs.open.alipay.com/catalog" target="_blank">蚂蚁金服开放平台</a> |
            <a class="link" href="http://lbsyun.baidu.com/" target="_blank">百度地图</a> |
            <a class="link" href="https://mp.weixin.qq.com/?token=&lang=zh_CN" target="_blank">微信公众平台</a> |
            <a class="link" href="https://www.zhihu.com" target="_blank">知乎</a>
        </div>
        <p class="copyright">
            Copyright © 2018 donscoco.onine All Right Reserved
        </p>
    </div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js
"></script>