<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="keywords" content="电商网站，mall，donscoco，网上购物，网上商城，毕业设计">
<meta name="description" content="一个电商网站">
<link rel="dns-prefetch" href="//cdn.bootcss.com">
<link rel="dns-prefetch" href="//static.donscoco.online">
<link rel="dns-prefetch" href="//img.donscoco.online">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?acac1b52e6611e3ad91348416ad45bfe";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
