/*
* @Author: donscoco
* @Date:   2019-03-29 21:36:08
* @Last Modified by:   donscoco
* @Last Modified time: 2019-03-29 21:36:10
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}